<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>

<!-- Include Date Range Picker -->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>




<!-- The rest of our javascript dependencies are bundled and -->
<!-- 'minified' by 'browserify'  -->
<script type="text/javascript" 
   src="/static/js/busy.min.js">
</script>

</head>

<body>
<div class="container">

<h1>Busy times</h1>

<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next 
  -- action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<h2>Date range</h2>
  <form action="/setrange" method="post">
  <input type="text" name="daterange" size="12"
    {% if session.daterange is defined %}
         value="{{session.daterange}}"
    {% endif %}
     class="pull-down"
     style="background: #fff; cursor: pointer; padding: 5px 10px;
     border: 1px solid #ccc; width: 12em" >
  <script type="text/javascript">
  $(function() {
  $('input[name="daterange"]').daterangepicker(
    {    ranges: {
           'Today': [moment(), moment()],
           'Tomorrow':[moment().add(1, 'days'),
                       moment().add(1, 'days')], 
           'This week':[moment(), moment().endOf('week')],
           'Next week':[moment().add(7, 'days').startOf('week'),
                        moment().add(7, 'days').endOf('week')],
           'This month':[moment(), moment().endOf('month')],
           'Within two weeks':[moment(),moment().add(15, 'days')]
        }}
       );
    });
  </script>

<br /><input type="submit" value="Choose" />
</form>

    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across). 
    -->
{% if session.calendars is defined  %}
  <h2>Calendars</h2>
<!--onsubmit="getBusyCal()"-->
  <form  id="calendars" class="row">
  {% for cal in session.calendars if cal.selected %}
           <br><input type="checkbox" name="calendar" value="{{cal.id}}">
	   {{ cal.summary }}
  {% endfor %}
  <!--<br><input type="submit" id="calendars" value="Submit">-->
  </form>
{% endif %}
    
  <p id="result"></p>
  </div>  <!-- container (for bootstrap) -->
<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
//function getBusyCal() 
document.getElementById("calendars").addEventListener("click",function() {
    //alert("made it here");
    document.getElementById("result").innerHTML = "";
    //console.log("@@@@@@@@@@@@@@");
    console.log($(this).serializeArray());
    var x = $(this).serializeArray();
    var valToPass = [];
    for(var u = 0; u<x.length;u++)
    {
	valToPass[u] = x[u].value;
    }
    //var myJsonString = JSON.stringify(valToPass);
    console.log(valToPass);
    //var x = this;
    //var arr = new Array();
   	$.ajax({
	url: $SCRIPT_ROOT + '/_getBusy',
	type: "GET",
	data: { ww: JSON.stringify(valToPass) },
   	// The function to call with the response
   	success: function(data) {
     	var times = data.result;
     	var obj = JSON.parse(times);
        console.log(obj);
     	//var calendars = obj["calendars"];
        var arr = [];
	var listCount = 0;
     	for(var keyA in obj)  //gets calendar list
     	{
          	var busyTimeInner = obj[keyA];
                console.log(busyTimeInner);
          	busyTimeInner = busyTimeInner["calendars"];
                console.log(busyTimeInner);
		//busyTimeInner = busyTimeInner["busy"];
		//console.log(busyTimeInner);
		busyTimeInner = busyTimeInner[Object.keys(busyTimeInner)[0]];
		console.log(busyTimeInner);
		busyTimeInner = busyTimeInner["busy"];
		console.log(busyTimeInner);
          	for(var q = 0; q < busyTimeInner.length ; q++)
          	{
		   listCount++;
           	   var busyT = busyTimeInner[q];
                   console.log(busyT["start"].toString());
             	   arr.push(listCount+": "+ busyT["start"] + "--" + busyT["end"]+"<br/>");
                   
          	}
		   
     	}
  arr = arr.toString();
  		   arr = arr.replace(/,/g,"");
 	           document.getElementById("result").innerHTML = document.getElementById("result").innerHTML+ arr;
  	},
	error: function (xhr, ajaxOptions, thrownError) {
        alert(xhr.status);
        alert(thrownError);
        }}); // End of the call to getJSON
   //freebusyResponse = service.freebusy().query(body = calSearch)
  
});
</script>
  </body> </html>
