<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html lang="en"> <head>
<title>Appointments</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- jquery from a content distribution network; probably cached -->
<script type="text/javascript"
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
</script>
<link rel="stylesheet" type="text/css"
     href="//cdn.jsdelivr.net/bootstrap/latest/css/bootstrap.css"
/>

<!-- Include Date Range Picker -->

<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<link rel="stylesheet" type="text/css"
    href="/static/css/busy.css"
/>




<!-- The rest of our javascript dependencies are bundled and -->
<!-- 'minified' by 'browserify'  -->
<script type="text/javascript" 
   src="/static/js/busy.min.js">
</script>

</head>

<body>
<div class="container">

<h1>Free Times</h1>

<!--
  -- If there are any warnings or other messages from a prior action,
  -- they appear above the rest of the content, just until the next 
  -- action.
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

    <!--
    Show the calendar list (if we have it).  This will need to be turned into
    a form from which calendars can be picked. Up to three entries are
    shown in each row (but the order is across then down; I would
    prefer down then across). 
    -->
{% if session.calendars is defined  %}
<div class="date/time col-xs-12">
   <label class="col-xs-1">Starting time:</label>
      <input class="col-md-1" id="startTime" placeholder="HH:MM"></br></br></br>
   <label class="col-xs-1">Ending time:</label>
      <input class="col-md-1" id="endTime" placeholder="HH:MM">
</div>
  <h2>Calendars</h2>
<!--onsubmit="getBusyCal()"-->
  <form  id="calendars" class="row">
  {% for cal in session.calendars if cal.selected %}
           <br><input type="checkbox" name="calendar" value="{{cal.id}}">
	   {{ cal.summary }}
  {% endfor %}
  <!--<br><input type="submit" id="calendars" value="Submit">-->
  </form>
{% endif %}
    
  <!--<p id="result"></p>-->
    <h2>FreeTimes</h2>
  <ul id="JSONunorderedList">

</ul> 
  </div>  <!-- container (for bootstrap) -->
<script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
//function getBusyCal() 
document.getElementById("calendars").addEventListener("click",function() {
    //alert("made it here");
    document.getElementById("JSONunorderedList").innerHTML = "";
    var startTimeCheck = document.getElementById("startTime").value;
    var endTimeCheck = document.getElementById("endTime").value;
    console.log($(this).serializeArray());
    var x = $(this).serializeArray();
    var valToPass = [];
    for(var u = 0; u<x.length;u++)
    {
	valToPass[u] = x[u].value;
    }
    //var myJsonString = JSON.stringify(valToPass);
    console.log(valToPass);
    var timeMax;
    var timeMin;
    //var x = this;
    //var arr = new Array();
   	$.ajax({
	url: $SCRIPT_ROOT + '/_getBusy',
	type: "GET",
	data: { calData: JSON.stringify(valToPass), start:startTimeCheck,end:endTimeCheck},
   	// The function to call with the response
   	success: function(data) {
        
	var listEl =document.getElementById('JSONunorderedList');
        var times = data.result;
     	var obj = JSON.parse(times);
        console.log(obj);
	makeList(obj,listEl);
	},

/*function(data) {
     	var times = data.result;
     	var obj = JSON.parse(times);
        console.log(obj);
     	//var calendars = obj["calendars"];
        var arr = [];
	var calTimes = [];
	var listCount = 0;
     	for(var keyA in obj)  //gets calendar list
     	{
          	var busyTimeInner = obj[keyA];
                console.log(busyTimeInner);
		timeMax = new Date(busyTimeInner["timeMax"]);
		timeMin = new Date(busyTimeInner["timeMin"]);
          	busyTimeInner = busyTimeInner["calendars"];
                console.log(busyTimeInner);
		//busyTimeInner = busyTimeInner["busy"];
		//console.log(busyTimeInner);
		busyTimeInner = busyTimeInner[Object.keys(busyTimeInner)[0]];
		console.log(busyTimeInner);
		busyTimeInner = busyTimeInner["busy"];
		console.log(busyTimeInner);
          	for(var q = 0; q < busyTimeInner.length ; q++)
          	{
		   listCount++;
           	   var busyT = busyTimeInner[q];
		   calTimes.push({start:new Date(busyT["start"]),end:new Date(busyT["end"])});
                   console.log(calTimes);
             	   arr.push(listCount+": "+ busyT["start"] + "--" + busyT["end"]+"<br/>");
                   
          	}
		   
     	}
	calTimes.sort(function(a,b){
		var tempA = a["start"].getTime();
		var tempB = b["start"].getTime();
		return tempA-tempB;
	});
	console.log(calTimes);
  arr = arr.toString();
  		   arr = arr.replace(/,/g,"");
 	           document.getElementById("result").innerHTML = document.getElementById("result").innerHTML+ arr;
  	}*/


	error: function (xhr, ajaxOptions, thrownError) {
        alert(xhr.status);
        alert(thrownError);
        }}); // End of the call to getJSON
   //freebusyResponse = service.freebusy().query(body = calSearch)
  
});


function makeList( jsonObj, listElement){
        var jsonObjectTemp = jsonObj["core"];
        var jsonObject = jsonObjectTemp["dates"];
	var newLi = document.createElement("ul");
        listElement.appendChild(newLi);
	for(var i = 0; i<jsonObject.length;i++)
	{
		var listItem = document.createElement("li");
		dateInfo = jsonObject[i];
		listItem.innerHTML=dateInfo["date"];
        	listElement.appendChild(listItem);
		var innerTimes = document.createElement("ul");
		listElement.appendChild(innerTimes);
		var freeTimeInfo = dateInfo["data"];
		for(var u = 0; u<freeTimeInfo.length; u++)
		{
			var alistItem = document.createElement("ul");
			var timeData = "free time between " + freeTimeInfo[u][0] + " and " + freeTimeInfo[u][1];
			alistItem.innerHTML=timeData;
			listElement.appendChild(alistItem);
		}
        }

    /*for(var i in jsonObject){//iterate through the array or object
	//insert the next child into the list as a <li>
	var newLI = document.createElement('li');
	newLI.innerHTML=i["date"];
        listElement.appendChild(newLI);
	else if (  jsonObject[i] instanceof Object){
	    newLI.innerHTML=i;
	    newLI.className="arrayOrObject"; //add a class tag so we can style differently
            continue;
	}
	else
	    newLI.innerHTML=i+': '+jsonObject[i];
	listElement.appendChild(newLI);   
	//insert a <ul> for nested nodes 
	if  (jsonObject[i] instanceof Array || jsonObject[i] instanceof Object){
	    var newUL = document.createElement('ul');
	    //newUL.innerHTML=i;
	    listElement.appendChild(newUL);
	    makeList(jsonObject[i],newUL);
	}
    }*/
    
}
//	console.log(jsonObj);
</script>
  </body> </html>
